.btn {
  background-color: $mainBlue;
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 1.2rem;
  display: inline;
  border-radius: 0.25rem;

  &--orange {
    background-color: $mainOrange;
  }

  &--large {
    padding: 1.1rem 1.85rem;

    @mixin atSmall {
      font-size: 1.25rem;
    }
  }
}
