.wrapper {
  overflow: hidden;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  max-width: 77.25rem; /* 1236px*/
  margin-left: auto;
  margin-right: auto;

  &--medium {
    max-width: 61rem;
  }

  &--narrow {
    max-width: 30rem;
  }

  &--no-padding-until-medium {
    padding-left: 0.4rem;
    padding-right: 0.4rem;

    @mixin atMedium {
      padding-left: 1.125rem;
      padding-right: 1.125rem;
    }
  }
  &--no-padding-until-large {
    padding-left: 0.4rem;
    padding-right: 0.4rem;

    @mixin atLarge {
      padding-left: 1.125rem;
      padding-right: 1.125rem;
    }
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  &--b-margin {
    margin-bottom: 1.5rem;

    @maxin atSmall {
      margin-bottom: 3.875rem;
    }
  }
}
